WebApplication/Thermals-web/Connected Services/ServiceReference1/Thermals-today.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetForecastJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetForecastJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetForecastJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetForecastJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetForecastJSON" />
  </wsdl:message>
  <wsdl:message name="GetForecastJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetForecastJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="Thermals_todaySoap">
    <wsdl:operation name="GetForecastJSON">
      <wsdl:input message="tns:GetForecastJSONSoapIn" />
      <wsdl:output message="tns:GetForecastJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Thermals_todaySoap" type="tns:Thermals_todaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForecastJSON">
      <soap:operation soapAction="http://tempuri.org/GetForecastJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Thermals_todaySoap12" type="tns:Thermals_todaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForecastJSON">
      <soap12:operation soapAction="http://tempuri.org/GetForecastJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Thermals_today">
    <wsdl:port name="Thermals_todaySoap" binding="tns:Thermals_todaySoap">
      <soap:address location="http://localhost/Thermal-forecast/Thermals-today.asmx" />
    </wsdl:port>
    <wsdl:port name="Thermals_todaySoap12" binding="tns:Thermals_todaySoap12">
      <soap12:address location="http://localhost/Thermal-forecast/Thermals-today.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>